[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir AMBE SERVER
Comment=AMBE SERVER
Exec=sudo sh ejecutar_ambe_server.sh
Icon=/home/orangepi/ORANGE/AMBE_SERVER.png
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir AMBE SERVER
Path=/home/orangepi/ORANGE
GenericName=Abrir AMBE SERVER
