[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir Svxlink
Comment=
Exec=mate-terminal --geometry 74x23+696+50 --title=SVXLINK -x sh ejecutar_svxlink_05.sh
Icon=/home/orangepi/ORANGE/DMRPLUS_EDITOR.png
Path=/home/orangepi/ORANGE
Terminal=false
StartupNotify=false
