[Desktop Entry]
Version=1.0
Type=Application
Name=Organizar ICONOS
Comment=
Icon=/home/ORANGEPIpi/ORANGEPI/ICONO_ORGANIZAR.png
Path=/home/ORANGEPIpi/ORANGEPI
Terminal=false
Name[es_ES]=Organizar ICONOS
StartupNotify=false
Exec=sh colocar_iconos.sh
