[Desktop Entry]
Version=1.0
Type=Application
Name=ActualizarBlueDB
Comment=
Exec=ls
Icon=/home/orangepi/ORANGE/ICONO_TRANSPARENTE.png
Path=/home/orangepi/ORANGE
Terminal=false
StartupNotify=false
Name[es_ES]=.
