[Desktop Entry]
Version=1.0
Type=Application
Name=Borrar logs
Comment=
Exec=mate-terminal -x sh borrar_logs_06.sh
Icon=/home/ORANGEPIpi/ORANGEPI/papelera1.png
Path=/home/ORANGEPIpi/ORANGEPI
Terminal=false
StartupNotify=false
