[Desktop Entry]
Version=1.0
Type=Application
Name=Editar Libre
Comment=
Exec=mate-terminal --geometry=80x47 -x sh editar_MMDVMLIBRE_05.sh
Icon=/home/orangepi/ORANGE/EDITAR_LIBRE.png
Path=/home/orangepi/ORANGE
Terminal=false
StartupNotify=false
