[Desktop Entry]
Version=1.0
Type=Application
Name=EditarDExtraBlueDV
Comment=
Exec=./qt_menu_extra
Icon=/home/orangepi/ORANGEPI/ICONO_TRANSPARENTE.png
Path=/home/orangepi/qt
Terminal=false
StartupNotify=false
Name[es_ES]=.
