[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir Libre
Comment=
Exec=mate-terminal -x sh ejecutar_mmdvmLIBRE_05.sh
Icon=/home/ORANGEPIpi/ORANGEPI/LIBRE.png
Path=/home/ORANGEPIpi/ORANGEPI
Terminal=false
Name[es_ES]=Abrir LIBRE
